# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode
.vscode

# Project1 Part1: raw train data for fitting characters
Project1/Part1/data/char/train_raw/

# Project1 Part2: raw train data for fitting characters
Project1/Part2/data/raw